.item {
  padding: 0.5rem 0;
  height: 25px;
  border-bottom: 1px solid #c2b5a4;
  margin-top: 1rem;
}

.title {
  float: left;
  margin-left: 1rem;
}

.btnEdit, .btnDelete {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.btnEdit {
  color: #3A7CA5;
}

.btnDelete {
  color: #ee4266;
}

.btnEdit:hover, .btnDelete:hover {
  opacity: 1;
}

.side {
  width: 10rem;
  float: right;
  display: flex;
  justify-content: space-between;
}

.date {
  width: 50%;
  text-align: center;
  opacity: 0.5;
}
